body {
    height: 4600px;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.navHolder{
    height: 250px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #235177;
    position: relative;
}

.navContainer{
    height: 250px;
    width: 100vw;
    background-image: url('img/backgroundimage.png');
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color:#E7E2DA;
    
}

.sticky .navbar {
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: space-between;
    overflow: hidden;
}

.sticky .navBar .ul{
    display: flex;
    justify-content: space-between;
    width:80%;
    list-style-type: none;
    padding-left: 15%;
}

.sticky .navBar ul li {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    font-family: 'Bebas Neue', serif;
    
}

.sticky .navBar .ul .li .a{
    text-decoration: none;
    color: #000000;
    
}

.navBar{
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: space-between;
    overflow: hidden;
}

#pachecosLogo{
    height: 100%;
    width: 110%;
    margin-left: 15%;
}

ul {
    display: flex;
    justify-content: space-between;
    width:80%;
    list-style-type: none;
    padding-left: 15%;
}

li {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Bebas Neue', serif;
    
    

}

a {
    text-decoration: none;
    color: #ffffff;

}

.switch {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    padding-left:15%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b50a20;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 4px;
    bottom: 4px;
    background-color: rgb(75, 58, 58);
    transition: .4s;
  }
  
 
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
 
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch1 {
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 34px;
    top: 70%;

  }
  
  /* Hide default HTML checkbox */
  .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider1 {
    position: absolute;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 2px;
    color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b50a20;
    transition: .4s;
  }
  
  .slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    right: 4px;
    bottom: 4px;
    background-color: rgb(75, 58, 58);
    transition: .4s;
  }
  
 
  
  input:focus + .slider1 {
    box-shadow: 0 0 1px #2196F3;
  }
  
 
  
  /* Rounded sliders */
  .slider1.round {
    border-radius: 34px;
  }
  
  .slider1.round:before {
    border-radius: 50%;
  }

  #heroBtnSpan{
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Bebas Neue', serif;
    padding-left: 10%;
  }

.hero{
    height: 775px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
}

.leftHero{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    
    background-image: url('img/backgroundimage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#flower {
    height: 700px;
    width: 500px;
    color: #221919;
    position: absolute;
    z-index: 2;
    top: -5%;
    right: 10%;
}



.heroP{
    width: 100%;
    padding-left: 13%;;
    height: 10%;
    
    font-size: 4rem;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Bebas Neue', serif;
    
}

.heroOffer{
    font-size: 1.6rem;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Familjen Grotesk', serif;
    display: flex;
    padding-left: 13%;
    padding-top: 6%;
    
    line-height: 2em;
}

.italicSpan{
    font-style: italic;
    
}

#landscapeSpan{
    padding-left: 48px; 
font-size: 100px;
display: inline-block;
color: transparent;
position: relative;
background-clip: text;
-webkit-background-clip: text;
background-image: url('img/grass.jpg');
background-repeat: no-repeat;

    
}

#cleaningSpan{
   padding-left: 40px; 
    font-size: 100px;
    display: inline-block;
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url('vid/poolgif.gif');
    background-repeat: repeat-x;
    animation: watereffect 10s ease-in-out infinite scroll;
    -webkit-text-stroke: 1px #95E6F9;
}

@keyframes watereffect{
    0%{background-position: 0 10px}
    5%{background-position: 5% 5px}
    10%{background-position: 10% -10px}
    15%{background-position: 15% -20px}
    20%{background-position: 20% -30px}
    25%{background-position: 25% -40px}
    30%{background-position: 30% -50px}
    40%{background-position:35% -55px}
    50%{background-position:40% -55px}
    60%{background-position:50% -55px}
    70%{background-position:60% -55px}
    80%{background-position:70% -55px}
    90%{background-position:80% -55px}
    100%{background-position:90% -55px}
}


.aboutSection{
    height: 1024px;
    width: 100vw;
    
    display: flex;
    
    background-image: url('img/backgroundimage.png');
    position: relative;
}

.serviceCardLeft{
    height: 620px;
    width: 25%;
    background-color: #ffffff;
    display: flex;
    border: 1px solid #333;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    border: 4px solid #000000;
    left: 12.5%;
    top: -10%;
    
}

#lsc1{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    color: #0a0a0a;
    font-family: 'Bebas Neue', serif;
    
}

.serviceCardRight{
    height: 620px;
    width: 25%;
    background-color: #ffffff;
    display: flex;
    border: 1px solid #333;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    right: 12.5%;
    top: -10%;
    
    border: 4px solid #000000;
}

#cs1{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    color: #0a0a0a;
    font-family: 'Marcellus SC', serif;
    
}

.fbReviews {
    position: absolute;
    top: -9.7%;
    left: 39.7%;
    width: 400px;
    height: 300px;
    background-color: #0a1442;
}

.fbReviews1 {
    position: absolute;
    top: 55%;
    left: 39.7%;
    width: 400px;
    height: 300px;
}

.fbReviews2 {
    position: absolute;
    top: 20%;
    left: 39.7%;
    width: 400px;
    height: 350px;
}

.fbReviews3 {
    position: absolute;
    top: 55%;
    left: 62.3%;
    width: 480px;
    height: 165px;
}

.aboutCardHeader{
    margin: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    color: #0a0a0a;
    font-family: 'Bebas Neue', serif;
    
}

.aboutCardText{
    margin: 0;
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 100;
    color: #0a0a0a;
    font-family: 'Familjen Grotesk', serif;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 20%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
    
}

.aboutTextArea{
    height: 135px;
    width: 90%;
    background-color: #0a1442;
    margin-top: 30%
}

.aboutPachecosHeader{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    font-size: 5rem;
    font-weight: 500;
    color: #f8f8f8;
    font-family: 'Bebas Neue', serif;
}

.aboutPachecosText{
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    font-size: 1.6rem;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Familjen Grotesk', serif;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.landscapingServices{
    height: 1024px;
    width: 100vw;
    background-image: url('img/backgroundimage.png');
    display: flex;
    flex-direction: row;
    font-family: 'Bebas Neue', serif;
    
}

.cleaningServices{
    height: 1024px;
    width: 100vw;
    background-image: url('img/backgroundimage.png');
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Bebas Neue', serif;
}



.servicesHeader{
    height: 100px;
    width: 100vw;
    display: flex;
    
    justify-content: start;
    align-items: center;
    padding-left: 5%;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 500;
    
}

@keyframes appear1 {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.lss1{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 232%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.leafIcon{
    height: 50px;
    width: 50px;
    color: #221919;
    position: absolute;
    z-index: 2;
    top: 34%;
    left: 5%;
}

.lss2{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 232%;
    left: 21%;
    color: #0a0a0a;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.trowelIcon{
    height: 50px;
    width: 50px;
    color: #221919;
    position: absolute;
    z-index: 2;
    top: 34%;
    left: 5%;
}

.lss3{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 232%;
    left: 43%;
    color: #0a0a0a;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.picketIcon{
    height: 50px;
    width: 50px;
    color: #221919;
    position: absolute;
    z-index: 2;
    top: 34%;
    left: 5%;
}

.css1{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 335%;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.css2{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 335%;
    left: 21%;
    color: #0a0a0a;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.css3{
    height: 700px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 335%;
    left: 43%;
    color: #0a0a0a;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
    
    margin-left: 5%;
    animation: appear1 linear;
    animation-timeline: view();
    -webkit-animation-range: entry 0% 30%;
    -moz-animation-range: entry 0% 30%;
    animation-range: entry 0% 30%;
}

.servicesP{
    height: 100px;
    width: 15vw;
    display: flex;
    
    align-items: center;
    font-family: 'Familjen Grotesk', serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 70%;
}

.servicesImage{
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgb(223, 221, 221);
    border-radius: 10%;
}

.imageContainer{
    height: 2040px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    position: absolute;
    
    top: 205.5%;
    right: 5%;
}

.containedImage{
    height: 100%;
    width: 100%;
    
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0  cover 30%;
}

#img1 {
    height: 100%;
    width: 100%;
}

#img2 {
    height: 100%;
    width: 100%;
}

#img3 {
    height: 100%;
    width: 100%;
}

#img4 {
    height: 100%;
    width: 100%;
}

#img5 {
    height: 100%;
    width: 100%;
}



@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}


    
.footer {
    height: 512px;
    width: 100vw;
    background-image: url('img/backgroundimage.png');
    display: flex;
    justify-content: start;
    align-items: center;
    color: #a14949;
    font-size: 1.5rem;
    font-weight: 500;

}

.contactForm {
    margin-left: 5%;
    height: 400px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Familjen Grotesk', serif;
    box-shadow: 0 0 30px rgb(223, 221, 221);
    background-color:#E7E2DA;
    backdrop-filter: drop-shadow(0 0 10px #ffffff);
}



.footerH2{
    color: #000000;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Bebas Neue', serif;
    width: 100%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

#emailIcon {
    height: 50px;
    width: 50px;
    color: #000000;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.formGroup{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-left: 5%;
}

.input {
    height: 30px;
    width: 70%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Familjen Grotesk', serif;
    background-color: rgba(123, 126, 133, 0.24);
    color: #000000;
}

.input::after {
    content: '*';
    background-color: rgba(123, 126, 133, 0.24);
}

#message{
    height: 100px;
    width: 70%;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Familjen Grotesk', serif;
    background-color: rgba(123, 126, 133, 0.24);
    color: #000000;
}

#submitBtn {
    height: 50px;
    width: 100px;
    margin-left: 45%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Bebas Neue', serif;
    background-color: #b50a20;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.footerFeatures{
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    
    left: 45%;
    top: 4100px;

}

.feature{
    height: 150px;
    width: 200px;
    color: #ffffff;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    font-family: 'Familjen Grotesk', serif;
    font-size: 1.2rem;
}

.featureImg{
    height: 150px;
    width: 200px;
    color: #ffffff;
    
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.footerLinks{
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding-top: 280px;
    align-items: center;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Marcellus SC', serif;
}

.footerIcon{
    height: 50px;
    width: 50px;
    color: #000000;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

 #strongbowLogo{
    height: 100px;
    width: 250px;
    position: absolute;
    right: 5%;
    top: 4440px;
}

@media screen and (max-width: 340px) {
    /* Styles for screens smaller than 480px */
    /* Add your CSS code here */
    .landscapingServices {
        flex-direction: column;
    }

    .cleaningServices {
        flex-direction: column;
    }

    .servicesHeader {
        font-size: 3rem;
    }

    .lss1,
    .lss2,
    .lss3,
    .css1,
    .css2,
    .css3 {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        left: 0;
    }

    .servicesP {
        width: 100%;
        margin-top: 20px;
    }

    .imageContainer {
        width: 100%;
        top: 100%;
        right: 0;
    }

    .containedImage {
        height: 100%;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

    .contactForm {
        width: 90%;
        margin-left: 5%;
    }

    .footerH2 {
        font-size: 2rem;
    }

    .formGroup {
        flex-direction: column;
        align-items: start;
    }

    .input {
        width: 90%;
        margin-left: 5%;
    }

    #message {
        width: 90%;
        margin-left: 5%;
    }

    #submitBtn {
        margin-left: 5%;
    }

    .footerFeatures {
        width: 90%;
        left: 5%;
        top: 100%;
    }

    .feature {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerLinks {
        width: 90%;
        padding-top: 20px;
        margin-left: 5%;
    }

    #strongbowLogo {
        top: 100%;
        right: 5%;
    }
}

@media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    /* Add your CSS code here */
    .landscapingServices {
        flex-direction: column;
    }

    .cleaningServices {
        flex-direction: column;
    }

    .servicesHeader {
        font-size: 3rem;
    }

    .lss1,
    .lss2,
    .lss3,
    .css1,
    .css2,
    .css3 {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        left: 0;
    }

    .servicesP {
        width: 100%;
        margin-top: 20px;
    }

    .imageContainer {
        width: 100%;
        top: 100%;
        right: 0;
    }

    .containedImage {
        height: 100%;
        width: 100%;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

    .contactForm {
        width: 90%;
        margin-left: 5%;
    }

    .footerH2 {
        font-size: 2rem;
    }

    .formGroup {
        flex-direction: column;
        align-items: start;
    }

    .input {
        width: 90%;
        margin-left: 5%;
    }

    #message {
        width: 90%;
        margin-left: 5%;
    }

    #submitBtn {
        margin-left: 5%;
    }

    .footerFeatures {
        width: 90%;
        left: 5%;
        top: 100%;
    }

    .feature {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerLinks {
        width: 90%;
        padding-top: 20px;
        margin-left: 5%;
    }

    #strongbowLogo {
        top: 100%;
        right: 5%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for screens between 769px and 1024px */
    /* Add your CSS code here */
    .landscapingServices {
        flex-direction: row;
    }

    .cleaningServices {
        flex-direction: row;
    }

    .servicesHeader {
        font-size: 4rem;
    }

    .lss1,
    .lss2,
    .lss3,
    .css1,
    .css2,
    .css3 {
        width: 30vw;
        margin-left: 5%;
        margin-top: 0;
        left: 0;
    }

    .servicesP {
        width: 30vw;
        margin-top: 0;
    }

    .imageContainer {
        width: 30vw;
        top: 232%;
        right: 5%;
    }

    .containedImage {
        height: 100%;
        width: 100%;
    }

    .footer {
        height: 512px;
    }

    .contactForm {
        width: 35%;
        margin-left: 5%;
    }

    .footerH2 {
        font-size: 3rem;
    }

    .formGroup {
        flex-direction: row;
        align-items: center;
    }

    .input {
        width: 70%;
        margin-left: 5%;
    }

    #message {
        width: 70%;
        margin-left: 1%;
    }

    #submitBtn {
        margin-left: 45%;
    }

    .footerFeatures {
        width: 50%;
        left: 45%;
        top: 335%;
    }

    .feature {
        width: 200px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .footerLinks {
        width: 40%;
        padding-top: 280px;
        margin-left: 30%;
    }

    #strongbowLogo {
        top: 4440px;
    }
}

@media screen and (min-width: 1025px) {
    /* Styles for screens larger than 1024px */
    /* Add your CSS code here */
}