

@media only screen and (max-width: 600px) {
    /* Add your styles here for screens less than 600px */
    body {
        background-color: #031a58;
        color: white;
        text-align: center;
    }
    
    .navbar-toggler {
        color: white; /* Existing code */
         /* Existing code */
        border: none; /* Optional: Remove border */
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M 5 7 H 25 M 5 15 H 25 M 5 23 H 25" /%3E%3C/svg%3E'); /* Set the lines to white */
        background-size: 30px 30px; /* Adjust size as needed */
    }
    .display-4{
        
        font-size: 2.5rem;
    }
    #contactBtn {
        background-color: #6B1212; /* A deeper, richer red */
        border: 2px solid #FFD700; /* A vibrant gold for the border */
        color: #fff; /* White text for contrast */
        padding: 10px 10px; /* Increased padding for a more substantial look */
        border-radius: 20px; /* A more pronounced border radius for a modern look */
        transition: all 0.3s ease; /* Smooth transition for a dynamic feel */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    }
    #contactBtn:hover {
        background-color: #ffd90000; /* Gold background on hover for a striking effect */
        color: #ffffff; /* Red text on hover for contrast */
        transform: translateY(-5px); /* Subtle vertical movement for a dynamic feel */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for a more pronounced depth */
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add your styles here for screens between 601px and 1024px */
    body {
        background-image: url('img/backgroundimage.png');
        color: white;
    }
    
    .navbar-toggler {
        color: white; /* Existing code */
         /* Existing code */
        border: none; /* Optional: Remove border */
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M 5 7 H 25 M 5 15 H 25 M 5 23 H 25" /%3E%3C/svg%3E'); /* Set the lines to white */
        background-size: 30px 30px; /* Adjust size as needed */
    }


    #contactBtn {
        background-color: #6B1212; /* A deeper, richer red */
        border: 2px solid #FFD700; /* A vibrant gold for the border */
        color: #fff; /* White text for contrast */
        padding: 10px 10px; /* Increased padding for a more substantial look */
        border-radius: 20px; /* A more pronounced border radius for a modern look */
        transition: all 0.3s ease; /* Smooth transition for a dynamic feel */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    }
    #contactBtn:hover {
        background-color: #ffd90000; /* Gold background on hover for a striking effect */
        color: #ffffff; /* Red text on hover for contrast */
        transform: translateY(-5px); /* Subtle vertical movement for a dynamic feel */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for a more pronounced depth */
    }
}

@media only screen and (min-width: 1025px) {
    /* Add your styles here for screens greater than 1025px */
    body {
        background-image: url('img/backgroundimage.png');
        color: white;
    }
    
    .navbar-toggler {
        color: white; /* Existing code */
         /* Existing code */
        border: none; /* Optional: Remove border */
    }
    
    .navbar-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M 5 7 H 25 M 5 15 H 25 M 5 23 H 25" /%3E%3C/svg%3E'); /* Set the lines to white */
        background-size: 30px 30px; /* Adjust size as needed */
    }



    #contactBtn {
        background-color: #6B1212; /* A deeper, richer red */
        border: 2px solid #FFD700; /* A vibrant gold for the border */
        color: #fff; /* White text for contrast */
        padding: 10px 10px; /* Increased padding for a more substantial look */
        border-radius: 20px; /* A more pronounced border radius for a modern look */
        transition: all 0.3s ease; /* Smooth transition for a dynamic feel */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    }
    #contactBtn:hover {
        background-color: #ffd90000; /* Gold background on hover for a striking effect */
        color: #ffffff; /* Red text on hover for contrast */
        transform: translateY(-5px); /* Subtle vertical movement for a dynamic feel */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for a more pronounced depth */
    }
}

